.content {
    padding: 16px 32px;
}

.content .category-analysis-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}


.category-analysis-content .right-content {
    border-radius: 32px;
    padding: 16px 24px;
    background: white;
    margin-top: 16px;
    height: fit-content;
}

/* LEFT CONTENT */

.left-content {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.left-content .question-container {
    background-color: white;
    padding:  24px 56px 24px 24px;
    height: fit-content;
    border-radius: 32px;
    position: relative;
    width: 50%;
    overflow: hidden;
}

.left-content .time-container {
    background-color: var(--main-color);
    padding: 24px 56px 24px 24px;
    height: fit-content;
    border-radius: 32px;
    position: relative;
    width: 50%;
    overflow: hidden;
}

.question-container h3 {
    font-size: 14px;
    color: var(--main-color);
}

.time-container h3{
    font-size: 14px;
    color: white;
}

.question-container p{
    font-size: 56px;
    color: var(--main-color);
    line-height: 72px;
}
 
.time-container  p{
    font-size: 56px;
    color: white;
    line-height: 72px;
}

.question-container .icon span {
    position: absolute;
    bottom: 4;
    right: 16;
    font-size: 80px;
    opacity: 0.1;
    color: var(--main-color);
}

.time-container  .icon span{
    position: absolute;
    bottom: 4;
    right: 16;
    font-size: 80px;
    opacity: 0.1;
    color: white;
}

  /* TABLE DATA */
  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    padding: 16px 8px;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
    border: 1px solid #f5f4f9;
  }
  
  th,
  td {
    white-space: normal;
    word-wrap: break-word;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--menu-bg-color);
  }
  
  .table {
    display: block;
  }
  
  .table-body {
    width: 100%;
    max-height: 100vh; /* Adjust this height as needed */
    overflow-y: auto; /* Vertical scroll */
  }
  
  .table-body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  .table-body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }
  
  .table-body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  tr td img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    aspect-ratio: 16/9;
  }

  tr td .action_button{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }

  tr td .action_button .edit{
    color: var(--main-color);
    cursor: pointer;
  }

  tr td .action_button .delete{
    color: red;
    cursor: pointer;
  }
  
  /* Set specific widths for each column */
  th:nth-child(1),
  td:nth-child(1) {
    width: 1%;
  } /* No column */
  th:nth-child(2),
  td:nth-child(2) {
    width: 80%;
  } /* Date column */
  th:nth-child(3),
  td:nth-child(3) {
    width: 15%;
  } /* Time column */

 
  
  /* MOBILE SCREEN */
  @media screen and (max-width: 767px) {
    .content .category-analysis-content{  
        grid-template-columns: 1fr;
        
    }

    .left-content {
        display: flex;
        flex-direction: column;
    }

    .left-content .question-container, .left-content .time-container{
        width: 100%;
    }

    
    /* TABLE */
    th:nth-child(2),
    td:nth-child(2) {
      min-width: 150px;
    }
 

  }
  
  /* TABLET AND IPAD QUERY */
  @media (min-width: 768px) and (max-width: 1024px) {
    .content .category-analysis-content{  
        grid-template-columns: 1fr;
        
    }
  
  }
  