.content {
    padding: 16px 32px;
}

.content .category-create-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}


.category-create-content .left-content, .category-create-content .right-content {
    border-radius: 32px;
    padding: 16px 24px;
    background: white;
    margin-top: 16px;
    height: fit-content;
}


/* RIGHT CONTENT */

.right-content h3{
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--main-color);
}

.screate-category-container form {
    display: grid;
    gap: 8px;
    margin-bottom: 8px;
}

form {
  width: 100%;
}
.input-form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.form-label {
  margin-bottom: 4px;
  font-weight: semi-bold;
}

.form-control {
  padding: 16px 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--bg-color);
}

.form-control:focus {
  border-color: var(--main-color); 
  outline: none;
}


.input-form textarea{
  height: 100px;
}

form .primary-button{
  width: 100%;
}



/* FILE UPLOAD CONTAINER */
.file-upload-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4px;
}

.preview-container {
  height: 200px;
  border: 2px dashed #ddd;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.upload-placeholder {
  /* width: 100%; */
  text-align: center;
  color: var(--main-color);
}

.upload-logo {
  width: 50px;
  height: 50px;
}

.upload-text {
  margin-top: 10px;
}

.file-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}


.preview-container img{
  height: 180px;
  width: 90%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

  /* TABLE DATA */
  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    padding: 16px 8px;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
    border: 1px solid #f5f4f9;
  }
  
  th,
  td {
    white-space: normal;
    word-wrap: break-word;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--menu-bg-color);
  }
  
  .table {
    display: block;
  }
  
  .table-body {
    width: 100%;
    max-height: 100vh; /* Adjust this height as needed */
    overflow-y: auto; /* Vertical scroll */
  }
  
  .table-body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  .table-body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }
  
  .table-body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  tr td .action_button{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }

  tr td .action_button .question{
    color: var(--text);
    cursor: pointer;
  }

  tr td .action_button .edit{
    color: var(--main-color);
    cursor: pointer;
  }

  tr td .action_button .delete{
    color: red;
    cursor: pointer;
  }

  tr td .text-category h3{
    margin-bottom: 16px;
    font-weight: 500;
  }
  
  /* Set specific widths for each column */
  th:nth-child(1),
  td:nth-child(1) {
    width: 1%;
  } /* No column */
  th:nth-child(2),
  td:nth-child(2) {
    width: 80%;
  } /* Date column */
  th:nth-child(3),
  td:nth-child(3) {
    width: 15%;
  } /* Time column */

 
  
  /* MOBILE SCREEN */
  @media screen and (max-width: 767px) {

    .content .category-create-content{
      grid-template-columns: 1fr;
  }

    /* TABLE */
    th:nth-child(2),
    td:nth-child(2) {
      min-width: 400px;
    }
    th:nth-child(3),
    td:nth-child(3) {
      min-width: 100px;
    }
 
    .table {
      width: 80.3vw; 
    }
  }
  
  /* TABLET AND IPAD QUERY */
  @media (min-width: 768px) and (max-width: 1024px) {
    .content .category-create-content{
      grid-template-columns: 1fr;
  }

 
  }
  