.content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px 32px;
  }
  

  .search-create-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }


  .search-create-container .create {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

.search-container form {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.form-control {
    padding: 14px 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--bg-color);
    width: 100%;
    
}

  /* TABLE DATA */
  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    padding: 16px 8px;
    border-collapse: collapse;
    text-align: left;
    font-size: 12px;
    border: 1px solid #f5f4f9;
  }
  
  th,
  td {
    white-space: normal;
    word-wrap: break-word;
  }
  
  thead th {
    position: sticky;
    top: 0;
    /* left: 0; */
    background-color: var(--main-color);
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--menu-bg-color);
  }
  
  .table {
    border-radius: 32px;
    padding: 16px 24px;
    /* width: 100vw; */
    background: white;
    margin-top: 16px;
    display: block;
  }
  
  .table-body {
    width: 100%;
    max-height: 100vh; /* Adjust this height as needed */
    overflow-y: auto; /* Vertical scroll */
  }
  
  .table-body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  .table-body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }
  
  .table-body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  
  tr td .action_button{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
  
  tr td .action_button .edit{
    color: var(--main-color);
    cursor: pointer;
  }
  
  tr td .action_button .delete{
    color: red;
    cursor: pointer;
  }
  
  
  /* Set specific widths for each column */
  th:nth-child(1),
  td:nth-child(1) {
    width: 1%;
  } /* No column */
  th:nth-child(2),
  td:nth-child(2) {
    width: 4%;
  } /* User column */
  th:nth-child(3),
  td:nth-child(3) {
    width: 15%;
  } /* Date column */
  th:nth-child(4),
  td:nth-child(4) {
    width: 2%;
  } /* Category column */



  tr td .answer{
    margin-top: 8px;
  }
  tr td .answer h3{
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
    margin-top: 16px;
  }

  tr td .answer .questions{
    margin-top: 0;
  }
  tr td .answer h4{
    font-size: 16px;
    margin-top: 16px;
    font-weight: 300;
    color: var(--main-color);
    font-style: italic;
  }

  tr td .answer ul{
    list-style-type: decimal;
    margin-left: 16px;
    color: var(--text);
    font-size: 14px;
  }

  tr td .answer a{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
  }

  tr td .answer a span {
    font-size: 16px;
  }

 
  
  /* MOBILE SCREEN */
  @media screen and (max-width: 767px) {
    .search-create-container{
        display: flex;
        flex-direction: column;
      }
    
      .search-create-container .create{
        width: 100%;
      }


    /* TABLE */
    th:nth-child(2),
    td:nth-child(2) {
      min-width: 200px;
    }
    th:nth-child(3),
    td:nth-child(3) {
      min-width: 500px;
    }
    th:nth-child(4),
    td:nth-child(4) {
      min-width: 100px;
    } /* Status column */
    .table {
      width: 90.3vw;
      /* padding: 1rem 1.2rem; */
    }
  }
  
  /* TABLET AND IPAD QUERY */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* TABLE */
    .table {
      width: 93vw;
    }
  }
  