.content-box .content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    width: 450px;
    border: 1px solid var(--main-color);
    margin: auto;
    border-radius: 32px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

.content{
    padding: 16px 32px;
}

.file-upload-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}

.preview-container {
    height: 200px;
    border: 2px dashed #ddd;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.upload-placeholder {
    /* width: 100%; */
    text-align: center;
    color: var(--main-color);
}

.upload-logo {
    width: 50px;
    height: 50px;
}

.upload-text {
    margin-top: 10px;
}

.file-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.primary-button {
    width: 100%;
}

.preview-container img{
    height: 180px;
}

/* MOBILE SCREEN */
@media screen and (max-width: 767px) {

    .content-box .content{
        width: 90%;
        padding: 24px;
    }
    
}

/* TABLET AND IPAD QUERY */
@media (min-width: 768px) and (max-width: 1024px) {

}